<%= form_for(@inquiry) do |f| %>
  <% if @inquiry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@inquiry.errors.count, "error") %> prohibited this inquiry from being saved:</h2>

      <ul>
      <% @inquiry.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :accepted_datetime %><br>
    <%= f.datetime_select :accepted_datetime %>
  </div>
  <div class="field">
    <%= f.label :inquired_person %><br>
    <%= f.text_field :inquired_person %>
  </div>
  <div class="field">
    <%= f.label :dept_id %><br>
    <%= f.text_field :dept_id %>
  </div>
  <div class="field">
    <%= f.label :contents %><br>
    <%= f.text_area :contents %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
